---
export const prerender = false;
export const parital = true;

import {storage} from '../../firebase/client';
import {ref,uploadBytes,getDownloadURL} from 'firebase/storage';
const headers = Astro.request.headers;
const rid = headers.get('rid')?.toString();
const sheetname = headers.get('sheetname')?.toString();

const formData = await Astro.request.formData();
const received = formData.get("received")?.toString();
const img = formData.get('receipt') as File;

const sheet = import.meta.env.EXPENSE_APPSCRIPT;
let imgURL;
let uploaded = false;
if(img !== null){
	const sref = ref(storage, `receipts/${rid}`);
	try{
		const fileRef = await uploadBytes(sref,img)
		imgURL = await getDownloadURL(fileRef.ref)
		uploaded = true;
	}catch(err){
		return new Response("Failed",{
			status:400,
		})
	}
}else{
	imgURL = '/'
	uploaded = true;
}

const newData = new FormData();
newData.append('type','pending');
newData.append('sheetname',`${sheetname}`);
newData.append('rid',`${rid}`);
newData.append('proof',`${imgURL}`);
newData.append('received', `${received}`)

if(uploaded){
	try{
		await fetch(sheet,{
			method: "POST",
			body:newData,
		})
	}catch(err){
		return new Response("Failed",{
			status:400,
		})
	}
}
---
<div hx-swap-oob='afterbegin:#responses'>
	<div id='res'  data-type='success'>
		<p>Receipt for {rid} was added.</p>
	</div>
</div>

