---
const {receiver,reason,amount,id} = Astro.props;
---
<label id={`receipt-${id}`} for={`pid-${id}`} class='payment  p-2 px-4 bg-slate-600 text-slate-300 rounded-sm cursor-pointer'>
	<div class='flex flex-row justify-between items-center mb-1'>
		<div class='flex flex-col w-[33%]'>
			<h2 class='text-xl font-bold'>{receiver}</h2>
			<h3 class='text-sm'>{reason}</h3>
		</div>
		<h2 data-type='-' class='data-[type="+"]:text-green-300 data-[type="-"]:text-red-400 status font-bold flex justify-center items-center gap-1'>Rs.{amount}</h2>
		<h2 class='status text-yellow-400 font-bold flex justify-center items-center gap-1'><i class="fa-solid fa-receipt"></i>Awaiting Receipt</h2>
	</div>
	<input class='peer/selected hidden' type='checkbox' id={`pid-${id}`} />
	<form id='test' data-id={id} class='hidden flex-row justify-between peer-checked/selected:flex'
		hx-post='/partials/pending'
		hx-trigger='submit'
		hx-swap='delete'
		hx-target={`#receipt-${id}`}
		hx-encoding='multipart/form-data'
		hx-headers={`{"rid": "${id}"}`}>
		<div class='flex flex-row justify-end gap-2'>
			<div class='inputGroup'>
				<label for='received'>Received:</label>
				<input type='number' min='0' id='received' name='received' />
			</div>
			<div class='inputGroup'>
				<label for='receipt'>Receipt:
					<!-- <i class="fa-solid fa-file-circle-plus ml-2 text-2xl text-sky-300"></i> -->
				</label>
				<input type='file' accept='image/*' id='receipt' name='receipt' />
			</div>
		</div>
		<div>
			<button type='button' class='bg-red-400 p-1 px-4 text-white' type='button'>Cancel</button>
			<button type='submit' class='bg-green-400 p-1 px-4 text-white' type='button'>Proceed</button>
		</div>
	</form>
</label>
<style>
form .inputGroup{
	@apply flex flex-row justify-center items-center gap-2;
}
form label{
	@apply font-bold;
}
form input{
	@apply h-full bg-slate-300 text-slate-800 rounded-sm;
}
</style>
